<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Felipe Loaiza Portfolio</title>
		<link rel="stylesheet" href="./css/normalize.css" />
		<link rel="stylesheet" href="./css/app.css" />
		<link rel="stylesheet" href="./css/about.css" />
		<link rel="stylesheet" href="/css/project.css">
		<link rel="stylesheet" href="./css/footer.css" />
	</head>
	<body>
	<!-- START BARBA -->
	<div data-barba="wrapper">
	<div data-barba="container" data-barba-namespace="home">
	<!--START ASSCROLL  -->
	<div asscroll-container>
	<div class="scroll-wrap">
	<!-- START CONTENT -->
	<div class="homepage__content">
		<div class="view_1">
			<section class="about">
				<p class="about-content">
					<span id="name">Hello I’m Felipe Loaiza</span>
					A 20 years old developer ,I primarily specialize on
					making games using the Unity Engine which i have for the
					past 2,5 years, on the sidelines I've done personal work
					related to web development both backend and frontend. I
					would consider myself a person highly motivated by
					learning.
				</p>
				<div class="scrolldown">
					<p>Scroll Down</p>
					<img class="scroll-arrow" src="/img/chevron-down.svg" alt="">
				</div>
			</section>
		</div>
		<div class="view_2">
		<section class="skills">
			<h1 class="title"><b>SKILLS</b></h1>
			<div class="skills_container">
				<div class="skill__type">
					<h2><span class="mobile_disable">For</span> Game Dev</h2>
					<p>
						<span data-skill="Unity" class="skill">Unity</span>
						<span data-skill="C#" class="skill">C#</span>
					</p>
				</div>
				<div class="skill__type">
					<h2><span class="mobile_disable">For</span> Web Dev</h2>
					<p>
						<span data-skill="Javascript" class="skill">Javascript</span>
						<span data-skill="React" class="skill">React</span>
						<span data-skill="Node" class="skill">Node.Js</span>
						<span data-skill="Express" class="skill">Express</span>
						<span data-skill="MongoDB" class="skill">MongoDB</span>
						<span data-skill="Threejs" class="skill">Three.js</span>
					</p>
				</div>
				<div class="skill__type">
					<h2>General</h2>
					<p>
						<span data-skill="Git" class="skill">Git</span>
						<span data-skill="Rest-API" class="skill">Rest-APIs</span>
						<span data-skill="Socket.IO" class="skill">Socket.IO</span>
					</p>
				</div>
			</div>
		</section>
		<section class="projects">
			<div class="projects_title">
				<h1>Projects</h1>
			</div>
			<div class="projects_container">
				{% for post in collections.posts %}
				<div class="project_instance" data-used_skills="{{ post.data.skills | arrayToClasses }}">
					<a class="projects_link" href="{{post.url}}">
						<img src="/img/{{post.data.image}}" alt="">
						<div class="projects_info">
							<h1 class="title">{{ post.data.title }}</h1>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</section>
		<section class="projects__mobile">
			<div class="swiper projects_slides">
				<div class="swiper-wrapper">
					{% for post in collections.posts %}
					<div class="swiper-slide" data-used_skills="{{ post.data.skills | arrayToClasses }}">
						<div class="project__mobile">
							<img src="/img/{{post.data.image}}" alt="">
							<div class="project__mobile-info">
								<div class="project__mobile-title">
									<h2>{{ post.data.title }}</h2>
								</div>
								<div class="project__mobile-link">
									<a href="{{post.url}}">
										See more
									</a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</section>
		</div>
		<footer class="footer">
		<!-- <div class="footer__background"></div> -->
		<div class="footer__resume">
			<a href="https://drive.google.com/file/d/1BBxlvNL73ZQHXw0oXUd4fZYnTqsOBbNl/view?usp=sharing" target="_blank" id="resume_download" style="color: #EFCB68;" href=""><b>Resume</b>
				<img src="./img/downArrow.svg" alt="" srcset="">
			</a>
		</div>
		<section class="contact">
			<ul class="contact_links">
				<li><a href="https://github.com/Kolark" target="_blank" class="contact__link" href="">Github</a></li>
				<li><div class="contact__link-separator"></div></li>
				<li><a href="mailto:felipe.loaizama@gmail.com" target="_blank" class="contact__link" href="">Email</a></li>
				<li><div class="contact__link-separator"></div></li>
				<li><a href="https://www.linkedin.com/in/felipe-loaiza-199754211/" target="_blank" class="contact__link" href="">LinkedIn</a></li>
			</ul>
		</section>
		</footer>
	</div>
	<!--END CONTENT  -->
	</div>
	</div>
	<!-- END ASSCROLL -->
	</div>
	</div>
	<!-- END BARBA -->

	<div class="curtain"></div>
	</body>
	<script src="index.js"></script>
</html>
